header {
	margin: 2rem 0;
}

#featured {
	margin-bottom: 2rem;
}

.carousel-inner{
	height: 500px;
}

.carousel-item img{
	height: 100%;
}

.carousel-indicators li{
	height: 20px;
	width: 20px;
	border-radius: 20px;
}

.profile-info{
	display: flex;
	justify-content: center;
}

.profile-info img{
	max-width: 90%;
	max-height: 90%;
	margin: -0.5rem 1rem 0;
}


.gallery a {
	width: 48%;
	margin: 1%;
}

.gallery{
	margin: 2rem -1% 0; /*top leftRight bottom*/
}

.gallery img{
	width: 100%;
}

/************************Media Queries************************/

@media all and (min-width: 576px){
	/*creates 3 column gallery layout at a minimum of 576px*/
	.gallery a{
		width: 31.3%;
	}
}

@media all and (min-width: 992px){
	/*creates a 4 column gallery layout at a minimum of 992px*/
	.gallery a{
		width: 23%;
	}
}