.about{
    @include clearfix;
    &__img{
        background-image: url(../../img/cactus4.jpg);
        background-size: cover;
        height: 60rem;
        width: 50%;
        float: left;
    }

    &__text-box{
        width: 50%;
        padding: 10rem;
        float: right;
    }

    &__title{
        text-align: center;
    }
}