.row{
    max-width: $grid-width;
    margin: 0 auto;
    position: relative;
    &:not(:last-child){
        margin-bottom: $gutter-horizontal;
    }

    @include clearfix;

    [class^="col-"]{ //selects all classes that start with 'col-'
        float: left;
        &:not(:last-child){
            margin-right: $gutter-vertical;

            @include responsive(tab-port){
                margin-right: 0;
                margin-bottom: $gutter-horizontal;
            }
        }

        @include responsive(tab-port){
            width: 75% !important;
            margin: 0 12.5%;
            
        }
       
    }

    .col-1-of-2{
        width: calc((100% - #{$gutter-vertical}) / 2);
    }

    .col-1-of-3{
        width: calc((100% - 2 * #{$gutter-vertical}) / 3);
    }
}