.card{
    height: 60rem;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    border-radius: .3rem;
    overflow: hidden;
    transition: all .3s;

    @include responsive(tab-port){
        height: 50rem;
    }

    &__img{
        background-size: cover;
        height: 40rem;
        background-position: center;

        @include responsive(tab-port){
            height: 30rem;
        }
    
        

        &--1{
            background-image: url(../../img/cactus6.jpg);
        }

        &--2{
            background-image: url(../../img/cactus7.jpg);
        }

        &--3{
            background-image: url(../../img/cactus9.jpg);
        }
    }

    &__text-box{
        text-align: center;
        position: relative;
        height: 20rem;
    
    }

    &__text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__hr{
        border: .1rem solid $color-gray-dark;
        width: 20%;
        display: inline-block;
        text-align: center;
    }

    &:hover{
        transform: scale(1.05);
        box-shadow: 0 3rem 6rem rgba($color-black, .3);
    }
}