body{
    font-family: 'Advent Pro', sans-serif;
    line-height: 1.2;
    color: $color-gray-dark;
    text-transform: lowercase;
}

.heading-primary{
    color: $color-gray-light;
    &--main{
        font-family: 'Sue Ellen Francisco', cursive;
        font-size: 20rem;
        display: block;
        letter-spacing: 1rem;
    }

    &--sub{
        font-size: 4rem;
        display: block;
        letter-spacing: 1rem;
    }
}

.heading-secondary{
    font-size: 4rem;
    letter-spacing: .3rem;
}

.heading-tertiary{
    font-size: 3rem;
}

.paragraph{
    font-size: 2rem;
    margin-bottom: 2rem;
}