//TOP MARGINS
.u-margin-top-large{
    margin-top: 5rem;
}

// BOTTOM MARGINS
.u-margin-bottom-xxlarge{
    margin-bottom: 10rem;
}

.u-margin-bottom-large{
    margin-bottom: 5rem;
}

.u-margin-bottom-medium{
    margin-bottom: 4rem;
}

.u-margin-bottom-small{
    margin-bottom: 3rem;
}

.u-margin-bottom-xsmall{
    margin-bottom: 2rem; 
}

//CENTER ALIGN
.u-center{
    text-align: center;
}

//HR

.u-hr{
    display: inline-block;
    border: .1rem solid $color-gray-dark;
    width: 5%;
    text-align: center;
}